* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
@font-face {
    font-family: Myriad;
    src: url(../fonts/myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: Myriad, Roboto, sans-serif;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

section {
    display: block;
} 

h2 {
    padding: 0px 21px;
    margin-bottom: 60px;
    border-left: 10px solid #e1e6ea;
    line-height: 42px;
    color: #292f36;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
}

h4 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 42px;
    color: #292f36;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: normal;
}

/* start about */
#container-bottom {
    height: 612px;
    border-bottom: 1px solid #dde1e4;
}

#container-bottom .container {
    height: 100%;
    margin-top: 80px;
}

#container-bottom #about {
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
}

#container-bottom .container #description {
    max-width: 654px;
}

#container-bottom .container #description p {
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
}

#container-bottom .container #description p:first-child {
    margin-bottom: 25px;
}

#container-bottom #description ul {
    margin-top: 46px;
    font-size: 0;
}

#container-bottom #description ul li {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-right: 1px;
    text-indent: -100000px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.4s ease-in-out;
}

#container-bottom #description ul li:hover {
    background-color: #d0d5d9;
    cursor: pointer;
}

#container-bottom #description ul li:nth-child(1) {
    background-image: url(../images/social/facebook.png);
}
#container-bottom #description ul li:nth-child(2) {
    background-image: url(../images/social/twitter.png);
}
#container-bottom #description ul li:nth-child(3) {
    background-image: url(../images/social/google.png);
}
#container-bottom #description ul li:nth-child(4) {
    background-image: url(../images/social/dribbble.png);
}
#container-bottom #description ul li:nth-child(5) {
    background-image: url(../images/social/behance.png);
    margin-right: 0;
}

#container-bottom #about > ul {
    width: 457px;
    counter-reset: number-list-style;
}

#container-bottom #about > ul li {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#container-bottom #about > ul li::before{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background-color: #23b7a4;
    font-size: 20px;
    counter-increment: number-list-style;
    content: counter(number-list-style, decimal-leading-zero);
    display: inline-block;
    text-align: center;
}

#container-bottom #about > ul li div {
    width: 387px;
}

#container-bottom #about > ul li p {
    line-height: 26px;
    color: #8d8f92;
    font-size: 16px;
}
/* end about */



/* start team */
#team .container {
    margin-top: 80px;
    height: 650px;
}

#team #team-member {
    display: plex;
    justify-content: space-between;
}

#team #team-member .person {
    width: calc((100% - 90px) / 4);
    height: 375px;
    position: relative;
    overflow-y: hidden;
}

#team #team-member .person .information {
    background-color: #e1e6ea;
    height: 100%;
    transition: background-color 0.5s ease;
}

#team #team-member .person .information a {
    display: block;
    font-size: 0;
}

#team-member .person .information p {
    margin-left: 21px  ;
}

#team-member .person .information p:nth-child(2) {
    margin-top: 21px;
    font-size: 16px;
    line-height: 16px;
    color: #292f36;
}

#team #team-member .person .information p:last-child{
    padding-bottom: 17px;
    margin-top: 11px;
    line-height: 14px;
    font-size: 14px;
    color: #8d8f92;
}

#team #team-member .person .mask-person {
    position: absolute;
    top: -100000px;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.2s ease-out;
}

#team #team-member .person:hover .mask-person {
    top: 0;
}

#team #team-member .person:hover .information {
    background-color: #3a454d;
}

#team #team-member .person:hover .information p {
    color: #fff;
}

#team #team-member .person .mask-person a:hover {
    background-color: #4e5a62;
}

#team #team-member .person .mask-person a {
    margin-right: 1px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color:  #3a454d;
    text-indent: -100000px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.6s ease;
}

#team #team-member .person .mask-person a:nth-child(1) {
    background-image: url(../images/social/twitter.png);
}

#team #team-member .person .mask-person a:nth-child(2) {
    background-image: url(../images/social/facebook.png);
}

#team #team-member .person .mask-person a:nth-child(3) {
    background-image: url(../images/social/linkedin.png);
    margin-right: 0px;
}

/* end team */

/* responsive */
@media screen and (min-width: 1200px) {  
    .container {
        width: 90%;
    }

    /* about */
    #container-bottom .container #about #description {
        width: 55%;
    }

    #container-bottom .container #about > ul {
        width: 40%;
    }

    #container-bottom .container #about > ul li::before {
        width: 11%;
    }

    #container-bottom .container #about > ul li div {
        width: 85%;
    }

    /* team */
    #team #team-member .person .information img {
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /* about */
    #container-bottom .container #about #description {
        width: 52%;
    }
    
    #container-bottom .container #about > ul {
        width: 46%;
    }

    #container-bottom .container #about > ul li::before {
        width: 11%;
    }

    #container-bottom .container #about > ul li div {
        width: 85%;
    }

    /* team */
    #team .container {
        height: 575px;
    }

    #team #team-member .person {
        height: min-content; 
    }

    #team #team-member .person:hover .mask-person {
        height: calc(100% - 79px);
    }

    #team #team-member .person .information img {
        max-width: 100%;
    }

    #team #team-member .person {
        max-width: calc((100%-60px)/4);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* about */
    #container-bottom {
        height: fit-content;
    }

    #container-bottom #about {
        flex-direction: column;
    }

    #container-bottom .container #description {
        padding-bottom: 30px;
    }

    #container-bottom #about > ul {
        margin-top: 30px;
        width: 100%;
    }

    #container-bottom #about > ul li div {
        width: 90%;
    }

    /* team */
    #team .container {
        height: fit-content;
    }

    #team #team-member {
        flex-wrap: wrap;
    }

    #team #team-member .person {
        width: calc((100% - 40px) / 2);
        padding: 0px 43px;
        margin-bottom: 40px;
    }

    #team #team-member .person .information {
        overflow-y: hidden;
    }

    #team #team-member .person .information a img {
        max-width: 100%;
        width: fit-content;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .container {
        width: 90%;
    }
    
    /* about */
    #container-bottom {
        height: fit-content;
    }

    #container-bottom #about {
        flex-direction: column;
    }

    #container-bottom .container #description {
        padding-bottom: 30px;
    }

    #container-bottom #about > ul {
        margin-top: 30px;
        width: 100%;
    }

    #container-bottom #about > ul li {
        width: 100%;
    }


    #container-bottom #about > ul li div {
        width: 85%;
    }

    /* team */
    #team .container {
        height: fit-content;
    }

    #team #team-member {
        flex-wrap: wrap;
    }

    #team #team-member .person {
        width: calc((100% - 40px) / 2);
        padding: 0px 43px;
        margin-bottom: 40px;
    }
    
    #team #team-member .person .information {
        overflow-y: hidden;
    }

    #team #team-member .person .information a img {
        max-width: 100%;
        width: 
        fit-content;
    }
    #team #team-member .person {
        height: fit-content;
    }

    #team #team-member .person:hover .mask-person {
        height: calc(100% - 79px);
    }

}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    
    /* about */
    #container-bottom {
        height: fit-content;
    }

    #container-bottom #about {
        flex-direction: column;
    }

    #container-bottom .container #description {
        padding-bottom: 30px;
    }

    #container-bottom #about > ul {
        margin-top: 30px;
        width: 100%;
    }

    #container-bottom #about > ul li {
        width: 100%;
    }

    #container-bottom #about > ul li div {
        width: 82%;
    }

    /* team */
    #team .container {
        height: fit-content;
    }
    
    #team #team-member {
        flex-wrap: wrap;
    }
    
    #team #team-member .person {
        width: 263px;
        /* padding: 0px 43px; */
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    #team #team-member .person .information {
        overflow-y: hidden;
    }
    
    #team #team-member .person .information a img {
        max-width: 100%;
        width: fit-content;
    }
    
    #team #team-member .person {
        height: fit-content;
    }
    
    #team #team-member .person:hover .mask-person {
        height: calc(100% - 79px);
    }
}